<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>自主挂号</title>

    <!-- Favicon  -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Floating box Style CSS -->
    <link rel=stylesheet href="../static/css/common.css">
    <link rel=stylesheet href="../static/css/jdc-side-panel.css">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="medilife-load"></div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="h-100 d-md-flex justify-content-between align-items-center">
                        <p>欢迎来到 <span>PHR个人健康服务管理平台</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 h-100">
                    <div class="main-menu h-100">
                        <nav class="navbar h-100 navbar-expand-lg">
                            <!-- Logo Area  -->
                            <a class="navbar-brand" href="../static/index.html"><img src="../static/img/core-img/logo.png" alt="Logo"></a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse" id="medilifeMenu">
                                <!-- Menu Area -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="../static/user/index_user.html">首页 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../static/user/DrugInformation.html">药品信息</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="appintment.html">自主挂号</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../static/user/MedicalRecordFolder.html">病历夹</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人中心</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="../static/user/notification.html">消息提示<span class="badge badge-pill badge-danger">1</span></a>
                                            <a class="dropdown-item" href="settingUp_user.html">账号设置</a>
                                            <a class="dropdown-item" href="#">安全退出</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(../static/img/bg-img/breadcumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">自助挂号</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Book An Appoinment Area Start ***** -->
<div class="medilife-book-an-appoinment-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="appointment-form-content">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="medilife-appointment-form">
                                <form action="#" method="post">
                                    <div class="row align-items-end">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="hospital" name="hospital">
                                                    <option>医院 1</option>
                                                    <option>医院 2</option>
                                                    <option>医院 3</option>
                                                    <option>医院 4</option>
                                                    <option>医院 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="speciality" name="speciality">
                                                    <option>科室 1</option>
                                                    <option>科室 2</option>
                                                    <option>科室 3</option>
                                                    <option>科室 4</option>
                                                    {foreach name="category_list" item="category" }
                                                    <option value="{$user_hospital.Doctor_category}">{$user_hospital.Doctor_category}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="date" id="date" placeholder="Date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="time" id="time" placeholder="Time">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="doctor" name="doctor">
                                                    <option>医生 1</option>
                                                    <option>医生 2</option>
                                                    <option>医生 3</option>
                                                    <option>医生 4</option>
                                                    <option>医生 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name" id="name" placeholder="Name" disabled>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="number" id="number" placeholder="Phone" disabled>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email" id="email" placeholder="E-mail" disabled>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5 mb-0">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn medilife-btn">预约挂号 <span>+</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="medilife-contact-info">
                                <!-- Single Contact Info -->
                                <div class="single-contact-info mb-30">
                                    <img src="../static/img/icons/alarm-clock.png" alt="">
                                    <p>周一 - 周六 08:00 - 21:00 <br>周末 休息</p>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="single-contact-info mb-30">
                                    <img src="../static/img/icons/envelope.png" alt="">
                                    <p>0080 673 729 766 <br>contact@business.com</p>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="single-contact-info">
                                    <img src="../static/img/icons/map-pin.png" alt="">
                                    <p>成都<br>地区</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Book An Appoinment Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-100">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="footer-logo">
                            <img src="../static/img/core-img/logo.png" alt="">
                        </div>
                        <p>PHR个人健康服务管理平台</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-footer-content">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>Copyright &copy; 2019.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- ***** Floating box Start ***** -->
<!-- ***** 在线咨询 ***** -->
<div class="jdc-side" style="display: block;">
    <div class="mod_hang_appeal">
        <div class="mod_hang_appeal_btn"><a href="http://wpa.qq.com/msgrd?v=3&uin=1041541933&site=qq&menu=yes" target="_blank"><i class="jdcfont"></i></a> <span>在线咨询</span></div>
    </div>
    <div class="el-dialog__wrapper" style="display: none;">
        <div class="el-dialog el-dialog--small" style="top: 15%;">
            <div class="el-dialog__header"><span class="el-dialog__title"></span>
                <div type="button" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Floating box End ***** -->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../static/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="../static/js/plugins.js"></script>
<!-- Active js -->
<script src="../static/js/active.js"></script>
<script>


</script>
</body>
</html>